{% extends 'base.html' %}

{% block content %}

<!-- Display list of all summarys -->
{% for summary in summary_list %}
<div class="card bg-light mb-3" style="max-width: 100%;">
  <div class="card-header">{{ summary.title }}</div>
  <div class="card-body">
    <a href="{{ summary.get_absolute_url }}">Detail</a>
  </div>
</div>
{% empty %}
<p>No summary Yet</p>
{% endfor %}


<!-- Display pagination only if page_obj have some value -->
{% if page_obj %}
  {% include "summary/summary/pagination.html" with page=page_obj %}
{% endif %}


{% endblock %}
